html,
body,
:global(#app),
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #222;
}

.container > * {
  position: absolute;
  border: 2px solid transparent;
  border-radius: 50%;
}

/* FPS */

.fps {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999999;
  padding: 0.5rem;
  color: red;
}

.bars {
  position: relative;
  overflow: hidden;
  background: crimson;
  margin-bottom: 1rem;
}

.bars > * {
  position: absolute;
  bottom: 0;
  background: maroon;
  /* border-left: 0.1rem solid #72007c; */
  box-sizing: border-box;
}
